/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* end of reset code */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    height: 100%;
    background-color: rgb(222, 232, 235);
}


header {
    background-color: rgb(222, 232, 235);
}

nav {
    float: none;
    padding: 10px 30px;
    /*   background-color: greenyellow; */
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.already-sign {
    flex-direction: column;
    display: flex;
}

div.logo {
    height: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    /* background-color: aqua; */
}

.top-service {
    display: flex;
    justify-content: center;
    margin-top: 11px;
}

section {
    height: 80%;
    display: flex;
    justify-content: center;
    background-color: palevioletred;

}

.main-section {
    /* display: flex; */
    justify-content: center;
    border: 2px solid green;
    background-color: rgb(222, 232, 235);
}

footer {
    height: 10%;
    background-color: rgb(222, 232, 235);
    display: flex;
    flex-direction: column;
    text-align: center;
}

body {
    background: black;
    font-family: Roboto, sans-serif;
    /*   color: white;  */
}

.container {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(200deg, lightgrey, grey);
    height: 28em;
    /* border: 2px solid grey;*/
    border-radius: 4px;
    background-color: white;

}

.form {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    font-weight: 2em;
    width: -webkit-fill-available;
    height: 34px;
    margin: 20px 7px;
}

input,
textarea {
    display: block;
    border: 1px solid gray;
    border-radius: 2px;
    text-align: left;
    margin-bottom: 25px;

}

.info {
    display: block;
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
}


form span {
    font-size: 13px;
}

a {
    color: #0077c5;
    text-decoration: none;
}

.text1 {
    font-family: Roboto, sans-serif, italic;
}

/*#padlock-image-input {
    width: 18px;
    position: relative;
    top: -23px;
    left: 283px;
} */

.padlock-closed-image-input {
    width: 12.59px;
    height: 15.75px;
}

.submit-button {
    color: white;
    background-color: #0077c5;
    border: 1px solid gray;
    font-size: 19px;
    width: 98%;
    margin: 0 3px;
    border-radius: 4px;
    padding: 10px 0;
}

/*
#sign-in-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 293px;
    height: 36px;
    float: right;
    background-color: transparent;
}

#sign-in-caption-container {
    line-height: 19px;
    flex: 1.4;
    font-size: 12px;
    width: 170px;
    background-color: transparent;
}

#sign-in-button-container {
    flex: 0.75;
}

#sign-in-button {
    padding: 5px 0;
} */

.capcha {
    border-top: 1px solid black;
}