body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background: #eceef1;
}

h2,
h3 {
  display: none;
}

header {
  background: #eceef1;
}

nav {
  float: none;
  padding: 0px 30px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.already-sign {
  flex-direction: column;
  display: flex;
}

.sign {
  font-size: xx-small;
}

.sign-now {
  padding-left: 10px;
 }

div.logo {
  height: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.top-service {
  display: flex;
  justify-content: center;
  /* margin-top: 11px; */
}

section {
  background-color: palevioletred;
  display: flex;
  height: 80%;
  justify-content: center;
}

.main-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #eceef1;
}

.container {
  width: 20%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 14px 20px 8px 20px;
}

.innuit-title {
  font-size: medium;
}

.innuit-title1 {
  font-size: xx-small;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  font-weight: 400;
  width: -webkit-fill-available;
  color: #404040;
  font-size: 14px;
  line-height: 25px;
}

input,
textarea {
  display: block;
  border: 1px solid gray;
  border-radius: 2px;
  text-align: left;
  margin-bottom: 25px;
  height: 27px;
}

.info {
  display: block;
  font-size: 13px;
  text-align: left;
}

.phone1 {
  padding-bottom: 20px;
  text-align: center;
  font-size: xx-small;
}

form span {
  font-size: 11px;
}

a {
  color: #0077c5;
  text-decoration: none;
  font-size: xx-small;
}

.italic {
  font-style: italic;
  font-size: 10px;
  color: #757575;
  padding-top: 46px;
}

.text1 {
  font-family: Roboto, sans-serif, italic;
}

.padlock-closed-image-input {
  width: 12.59px;
  height: 15.75px;
}

.submit-button {
  color: white;
  background-color: #0077c5;
  border: 1px solid gray;
<<<<<<< HEAD
  font-size: 15px;
=======
  font-size: 17px;
>>>>>>> cd8c145d757204b1e7fff1ad46b205791bb5b059
  border-radius: 4px;
  padding: 4px 0;
}

.capcha {
  justify-content: center;
  padding: 26px 32px 32px 32px;
  flex-wrap: nowrap;
  font-size: 10px;
  color: #8d9096;
  background-color: #eceef1;
  text-align: center;
  width: 99%;
  flex-direction: column;
  margin: 1px 1px -30px -30px;
}

div.capcha {
  background-color: #eceef1;
}

footer {
  height: 10%;
  background-color: #eceef1;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #505050;
  font-size: 11px;
  padding: 10px 0;
}

.footer1 {
  color: #505050;
}

.footer2 {
  line-height: 1.5;
  font-size: 11px;
}
