body {
    height: 100%;
}

.already-sign {
    flex-direction: column;
    display: flex;
}

div.logo {
    height: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: aqua;
}

section {
    height: 80%;
    display: flex;
    justify-content: center;
    background-color: palevioletred;

}

.main-section {
    display: flex;
    justify-content: center;
    border: 2px solid green;
    background-color: rgb(156, 45, 123);
}

footer {
    height: 10%;
    background-color: rgb(114, 4, 204);
}